<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Contact Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div align = "center">
      <h1> Your Book</h1>
      <span>Title: </span> <span th:text = "${onebook.title}"></span></br>
    </br>
      <span>Description:  </span> <span th:text = "${onebook.description}"></span></br>
    </br>
      <span>Excerpt: </span> <span th:text = "${onebook.excerpt}"></span></br>
    </br>
      <span>isCached: </span> <span th:text = "${onebook.iscached}"></span></br>
    </br>
    <img src="${onebook.cover}" >
      <a href="/">Back</a>
  </div>
  </body>
</html>